<template name="blogIndex">
  <div id="meteor-blog" class="blog-list">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{#each posts}}
            <article class="post">
              <h2>
                <a href="{{pathFor 'blogShow'}}">{{title}}</a>
              </h2>
              <div class="post-meta">
                By {{author}} on {{formatDate publishedAt}}
              </div>
              <div class="the-content">
                {{{excerpt}}}
              </div>
            </article>
          {{else}}
            This blog is looking pretty empty...
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>

