<template name="blogShow">
  <div id="meteor-blog" class="blog-single">
    <div class="container">
      <div class="row">
        <div id="commentable-area" class="col-md-8 col-md-offset-2">
          {{> blogShowBody}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="blogShowBody">
  <article class="post">
    <h2>{{post.title}}</h2>
    <div class="post-meta">
      By {{post.authorName}} on {{blogFormatDate post.publishedAt}}
      {{> blogTags }}
    </div>
    <div class="the-content">
      {{{post.html}}}
    </div>
  </article>
  <div class="blog-back-link pull-left">
    <a href="{{pathFor 'blogIndex'}}"><i class="fa fa-caret-left"></i>Back to the Blog</a>
  </div>
  <div class="share-buttons pull-right">
    <a target="_blank" class="btn-facebook fb-share" href="#"><i class="fa fa-facebook"></i>Share on Facebook </a>
    <a class="btn-twitter tw-share" href="#"><i class="fa fa-twitter"></i>Share on Twitter </a>
  </div>
</template>
