<template name="blogAdmin">
  <div id="blog-admin">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="blog-admin-sidebar">
            <li class="{{active '/admin/blog'}}"><a href="/admin/blog"><i class="icon-reorder"></i> Posts</a></li>
            <li class="{{active '/admin/blog/new'}}"><a href="/admin/blog/new"><i class="icon-plus"></i> New Post</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <h1>
            Blog Admin
            <select class="for-filtering form-control">
              <option value="all">All Posts</option>
              <option value="mine">My Posts</option>
            </select>
          </h1>
          <div class="row">
            {{> blogAdminList}}
          </div>
      </div>
    </div>
  </div>
</template>

<template name="blogAdminList">
  <ul class="blog-admin-list">
    {{#each posts}}
      <li>
        <div class="col-md-6"><a href="/admin/blog/edit/{{slug}}">{{title}}</a></div>
        <div class="col-md-3">{{author}}</div>
        {{#if published}}
          <div class="col-md-3">{{formatDate createdAt}}</div>
        {{else}}
          <div class="col-md-3 blog-draft">DRAFT</div>
        {{/if}}
      </li>
    {{else}}
      <li><a href="/admin/blog/new">Create the first blog</a></li>
    {{/each}}
  </ul>
</template>
