<template name="blogAdminNew">
  <div id="blog-admin">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="blog-admin-sidebar">
            <li class="{{active '/admin/blog'}}"><a href="/admin/blog"><i class="icon-reorder"></i> Posts</a></li>
            <li class="{{active '/admin/blog/new'}}"><a href="/admin/blog/new"><i class="icon-plus"></i> New Post</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <h1>
            New Blog Post
            <div class="switch-wrap">
              Preview
              <div class="make-switch" data-on="success">
                <input name="preview" type="checkbox">
              </div>
            </div>
          </h1>
          <form class="post-form">
            <div class="form-group">
              <label>Title</label>
              <input data-required="true" name="title" type="text" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Body</label>
              <div id="editor">
                {{{ content }}}
              </div>
            </div>
            <button type="submit" class="for-saving btn btn-default"><i class="icon-save"></i> Save Draft</button>
            <button type="submit" class="for-publishing btn btn-default"><i class="icon-globe"></i> Publish</button>
            <span class="hidden status"></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
