<template name="blogLoading">
  <div class="meteor-blog-loading">
    <div></div>
    <div></div>
    <div class="meteor-blog-fakeimg"></div>
    <div class="meteor-blog-right"></div>
    <div class="meteor-blog-right"></div>
    <div class="meteor-blog-right"></div>
    <div class="meteor-blog-right"></div>
    <div class="meteor-blog-right"></div>
    <div class="meteor-blog-right"></div>
    <div class="meteor-blog-right"></div>
    <div class="meteor-blog-clear"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>
